@page
@model eButler.Pages.Admin.Shippings.CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Shipping</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Shipping.Id" class="control-label"></label>
                <input asp-for="Shipping.Id" class="form-control" />
                <span asp-validation-for="Shipping.Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Shipping.Status" class="control-label"></label>
                <input asp-for="Shipping.Status" class="form-control" />
                <span asp-validation-for="Shipping.Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Shipping.Address" class="control-label"></label>
                <input asp-for="Shipping.Address" class="form-control" />
                <span asp-validation-for="Shipping.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Shipping.Distric" class="control-label"></label>
                <input asp-for="Shipping.Distric" class="form-control" />
                <span asp-validation-for="Shipping.Distric" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Shipping.City" class="control-label"></label>
                <input asp-for="Shipping.City" class="form-control" />
                <span asp-validation-for="Shipping.City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Shipping.Country" class="control-label"></label>
                <input asp-for="Shipping.Country" class="form-control" />
                <span asp-validation-for="Shipping.Country" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Shipping.Phone" class="control-label"></label>
                <input asp-for="Shipping.Phone" class="form-control" />
                <span asp-validation-for="Shipping.Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Shipping.Note" class="control-label"></label>
                <input asp-for="Shipping.Note" class="form-control" />
                <span asp-validation-for="Shipping.Note" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Shipping.HouseKeeperId" class="control-label"></label>
                <select asp-for="Shipping.HouseKeeperId" class ="form-control" asp-items="ViewBag.HouseKeeperId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

